@CHARSET "UTF-8";
.editor_border{
	border: 1px solid #ccc;
	background: white;
	font-size: 14px;
	border-radius: 3px;
	overflow: hidden;
	padding: 0px;
}
.editor_preview {
	text-align: left;
	min-height: 80px;
	outline: none;
	cursor: text;
	display: block;
	width: 100%;
}
.editor_toolbar{
	background: #f7f7ed;
	height: 24px;
	border-bottom: 1px solid #e5e5e5;
	padding: 10px 10px;
	position: relative;
}
.editor_toolbar select{
	float: left;
	margin: 0px 5px 0px 0px;
}
.editor_toolbar span{
	display: block;
	float: left;
	width: 20px;
	height: 20px;
	margin: 2px 3px;
	background-image: url(../../../img/template/common/plugs/editor_icons.png);
	background-repeat: no-repeat;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}
.editor_toolbar span.state-on{
	background-image: url(../../../img/template/common/plugs/editor_icons_on.png);
}
.editor_toolbar .colorpicker{
	float: left;
	width: 18px;
	height: 18px;
	margin: 1px 3px;
	border: 1px solid #a9a9a9;
	border: 2px solid #d2d2d2;
	border-radius: 2px;
	background: #000;
	position: relative;
	cursor: pointer;
}
.ico_colordrop{
	background: url(../../../img/template/common/plugs/editor_icons.png) -5px -305px no-repeat;
	position: absolute;
	right: 0px;
	bottom: 0px;
	height: 8px;
	width: 8px;
	background-color: #d2d2d2;
}
.editor_toolbar div.devider{
	display: block;
	float: left;
	width: 1px;
	height: 22px;
	margin: 1px 5px;
	background: #d7d7d7;
	padding: 0px;
}
.editor_toolbar div.upload_tip{
	display: inline-block;
	width: auto;
	background: transparent;
	font-size: 12px;
	color: #666;
	line-height: 20px;
}
.editor_toolbar div.error_tip{
	color: #B8211D;
}
.editor_toolbar span input{
	position: absolute;
	bottom: 0px;
	left: 0px;
	border: 0px;
	margin: 0px;
	width: 20px;
	height: 20px;
	opacity: 0;
	filter: alpha(opacity=0);
	cursor: pointer;
}
.italic{
	background-position: 0px -20px;
}
.strikethrough{
	background-position: 0px -40px;
}
.underline{
	background-position: 0px -60px;
}
.insertorderedlist{
	background-position: 0px -80px;
}
.insertunorderedlist{
	background-position: 0px -100px;
}
.indent{
	background-position: 0px -120px;
}
.outdent{
	background-position: 0px -140px;
}
.blockquote{
	background-position: 0px -160px;
}
.createLink{
	background-position: 0px -180px;
}
.insertimage{
	background-position: 0px -200px;
}
.insertimage{
	background-position: 0px -200px;
}
.justifyleft{
	background-position: 0px -240px;
}
.justifycenter{
	background-position: 0px -260px;
}
.justifyright{
	background-position: 0px -280px;
}
.insert_rect{
	background-position: 0px -320px;
}
.insert_arrow{
	background-position: 0px -340px;
}
.insert_blank{
	background-position: 0px -360px;
}
.richtext_rect{
	display: inline-block;
	width: 20px;
	height: 20px;
	background-image: url(../../../img/template/common/plugs/editor_icons.png);
	background-repeat: no-repeat;
	background-position: 0px -320px;
	vertical-align: middle;
	background-color: transparent;
	padding: 0px;
	margin: 0px;
	border: none;
}
.richtext_arrow{
	display: inline-block;
	width: 20px;
	height: 20px;
	background-image: url(../../../img/template/common/plugs/editor_icons.png);
	background-repeat: no-repeat;
	background-position: 0px -340px;
	vertical-align: middle;
	background-color: transparent;
	padding: 0px;
	margin: 0px;
	border: none;
}
.fillblank_blank{
	border: 0px;
	border-bottom: 1px solid #333;
	width: 100px;
	min-width: 100px;
	outline: none;
	font-size: 16px;
	text-align: center;
	padding: 0px 5px;
	background: transparent;
}
.editor_toolbar .fullscreen{
	background-position: 0px -220px;
	float: none;
	position: absolute;
	right: 10px;
}

.editor_preview blockquote{
	padding: 0 0 0 10px;
	margin: 10px 0 10px 10px;
	border-left: 3px solid #ccc;
}
.editor_preview p {
	margin: 10px 0;
}
.editor_preview ol, .editor_preview ul {
	margin: 10px 0 10px 40px;
	padding: 0;
}
.editor_preview ol{
	list-style: decimal;
}
.editor_preview ul{
	list-style: disc;
}
.editor_fullscreen {
	position: fixed;
	background: #FFF;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden; 
	z-index: 1;
}
.body_fullscreen{
	overflow: hidden;
}
#dlg_editor_link .link_lbl{
	font-size: 14px;
}
#dlg_editor_link .link_addr{
	padding: 10px 0px 10px;
}
#dlg_editor_link .link_addr input{
	width: 350px;
}
#colorpicker_box{
	position: absolute;
	border: 1px solid #d2d2d2;
	padding: 10px;
	top: 20px;
	left: 0px;
	width: 200px;
	background: #fff;
}
#colorpicker_box table{
	border-collapse: collapse;
	margin: 0;
	padding: 0;
}
#colorpicker_box .cell td{
	width: 10px;
	height: 10px;
	border: 1px solid #000;
	border-top: 0px;
	border-left: 0px;
	cursor: pointer;
}
#colorpicker_box table td{
	padding: 0!important;
}
#colorpicker_box .cell td:hover{
	box-shadow: inset 1px 1px 6px #fff;
}