<%
    var vcbs = input;
    //console.log(vcbs);
%>
<div class="vcb-list row-fluid">
<div class="span10">

<div class="input-append">
    <input tyoe="text" id="wordPosition" class="input-medium" style1="style: width:200px;"><>
    <button class="btn" type="button"><i class="fa fa-search"></i></button>
</div>
<div class="vcb-list-inner">
    <table class="table table-condensed1">
        <caption></caption>
        <thead>
            <tr>
                <th></th><th></th>
            </tr>
        </thead>
        <tbody>
    <%
        _.each(vcbs, function(vcb, i){
    %>
        <tr class="<%=vcb.review!=0?'success':''%>">
            <td><%=vcb.word%></td><td class="hide"><%=vcb.id%></td>
        </tr>
    <%
        });
    %>
        </tbody>
    </table>
</div>
</div>
</div>