<!DOCTYPE html >
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>课表示例</title>
    <link rel="stylesheet" href="<%= asset.mainCss %>">
    <script src="<%= asset.mainJs %>" data-main="<%= asset.configJs %>"></script>
    <!--<link type='text/css' rel='stylesheet' href="web/css/fullcalendar/fullcalendar.css"/>
    <link type='text/css' rel='stylesheet' href="web/css/fullcalendar/fullcalendar.print.css"/>-->
</head>

<body>
    <h>课表示例</h>

    <div id='calendar'></div>

</body>
</html>