<!DOCTYPE html >
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>课表示例</title>
    <link rel="stylesheet" href="<%= asset.mainCss %>">
    <script src="<%= asset.mainJs %>" data-main="<%= asset.configJs %>"></script>
    
</head>

<body>
    <h>课表示例</h>
</body>
</html>