<div>
    <div style="float: left;">我的课表</div>
    <div style="float: right;">
        <span>下载课程表</span>&nbsp;&nbsp;
        <select id="download-class">
            <option value="0">请选择要下载的班级</option>
        </select>
        &nbsp;&nbsp;
        <span style="cursor: pointer;">下载</span>

    </div>
    <div style="clear: both"></div>
</div>
<div id='calendar' style=""></div>
