<%- layout('layout') %>

<style type="text/css">
    .myul {
        border: 1px #cccccc solid;
        margin-left: 25px;
    }

    .myli {
        width: 320px;
        min-height: 140px;
        _height: 140px; /* 兼容ie6 最小设置高度 */
        border: 1px green solid;
        display: -moz-inline-stack; /* 兼容ff2 */
        display: inline-block; /* ff3 */
        *display: inline; /* 兼容ie7 */
        zoom: 1; /* 兼容ie7 */
        margin: 5px;
        vertical-align: top;
    }
</style>

<div style="width:1100px; margin: 10px auto;">

    <div style="border:1px #cccccc solid; height: 100px;">
        <div>开发测试班级</div>
        <div>班号：</div>
        <div>老师：</div>
    </div>
    <div style="border:1px #CCCCCC solid;">
        <ul class='myul'>
            <li class='myli'>
                <div><h4><a href="schedule" data-bypass>课表</a></h4></div>
            </li>
            <li class='myli'>
                <div><h4><a href="imitateExam" data-bypass><i class="fa fa-book"></i>模考</a></h4></div>
            </li>
            <li class='myli'>
                <div><h4><a href="interaction-class" data-bypass><i class="fa fa-book"></i>互动课堂</a></h4></div>
            </li>
        </ul>
    </div>

</div>

