<%- layout('layout') %>
<% block('view', '<input id="_moduleViewName" type="hidden" value="classes_schedules_stu">') %>

<div style="width:1100px; margin: 10px auto;">
    <input type="hidden" id="tabname" value="<%= tabname %>">
    <input type="hidden" id="userid" value="<%= userid %>">
    <ul class="nav nav-tabs" id="classes-schedules-stu-tab">
        <li><a href="#myclass" data-toggle="tab" data-bypass>
                我的班级
            </a></li>
        <li><a href="#myschedule" data-toggle="tab" data-bypass>
                我的课表
            </a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane" id="myclass">
            <% include _class-list.ejs %>
        </div>
        <div class="tab-pane" id="myschedule">
            <% include _course-schedule.ejs %>
        </div>
    </div>
</div>




