<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>无标题文档</title>
    <link href="css/style.css" type="text/css" rel="stylesheet" />
    <link href="css/page.css" type="text/css" rel="stylesheet" />
    <style>
        /**成绩单**/
        .examinee{border-top:1px dashed #818586;color:#444;border-right:1px dashed #818586;border-bottom:1px dashed #818586;width:470px;float:left;}
        .examinee ul{border:2px solid #fff;padding:10px;background-color:#EDEEF0;font-weight:bold;font-family:"microsoft yahei";}
        .examinee li{padding:2px 0;}
        .result{border:2px solid #818586;width:260px;float:right;padding:3px;color:#444;}
        .result dt{font-size:16px;font-weight:bold;text-align:center;background-color:#EDEEF0;padding:2px 0;}
        .result dd{font-weight:bold;padding:3px 0;}
        .items{float:left;display:inline;vertical-align: baseline;font-size: 100%;background-color:#fff;}
        .dot{width:auto;float: none;display:block;vertical-align: baseline;padding: 0em 0em 0em 0.1em;font-size: 100%; background:url(images/dot.png) left center repeat-x;}
        .scores{float:right;display:inline;vertical-align: baseline;font-size: 100%;background-color:#fff;}
        .total{border-top:2px solid #7d7d7d;margin-top:5px;}
        .standard{border:1px solid #fff;border-collapse:collapse;width:100%;margin-top:10px;}
        .standard th{border:2px solid #373739; background-color:#373739;text-align:center;padding:3px 10px;color:#fff;}
        .standard td{border:2px solid #8A8C8F;background-color:#D9DCDD;color:#6F7273;}
        .verdict{padding:10px 6px;}
        .standard td.deeper{background-color:#ADAFB1;}
        .standard td.deepen{background-color:#949599;}
    </style>
</head>

<body>
<div style="width:750px; overflow:hidden;padding-top:10px;background-color:#fff;margin:0 auto;">
    <div class="fix">
        <div class="examinee">
            <ul>
                <li>刘德华</li>
                <li>新东方</li>
                <li>海淀区海淀中街</li>
                <li>北京市</li>
                <li>中华人民共和国</li>
            </ul>
        </div>
        <div class="result">
            <dl>
                <dt>Toefl Scaled Score</dt>
                <dd class="fix">
                    <div class="items">Reading</div>
                    <div class="scores">18分</div>
                    <div class="dot">&nbsp;</div>
                </dd>
                <dd class="fix">
                    <div class="items">Listening</div>
                    <div class="scores">18分</div>
                    <div class="dot">&nbsp;</div>
                </dd>
                <dd class="fix">
                    <div class="items">Speaking</div>
                    <div class="scores">18分</div>
                    <div class="dot">&nbsp;</div>
                </dd>
                <dd class="fix">
                    <div class="items">Writing</div>
                    <div class="scores">18分</div>
                    <div class="dot">&nbsp;</div>
                </dd>
                <dd class="total fix">
                    <div class="items">Total</div>
                    <div class="scores">18分</div>
                    <div class="dot">&nbsp;</div>
                </dd>
            </dl>
        </div>
    </div>
    <table cellpadding="0" cellspacing="0" class="standard">
        <tr>
            <th width="15%">Reading Skills</th>
            <th width="15%">Level</th>
            <th width="70%">Your Performance</th>
        </tr>
        <tr>
            <td class="tc">Reading</td>
            <td class="tc">
                Intermediate
                <br>
                (15-22)
            </td>
            <td class="verdict">
                Rise of the DIY satellite: Company launches initiative allowing ANYONE to send a probe into space  -  but it'll cost you ￡12,000
                　　Space exploration is no longer the preserve of huge agencies who can spend up to ￡280 million on a single satellite launch.Now amateur engineers - working in bedrooms, basements and garages - have the chance to launch their probes into space for just ￡12,000.For the price of a car, anyone who can send a tiny 5cm cube satellite into orbit to take pictures of Earth and perform cosmic experiments.
                　　This has all been made possible by Glasgow-based start-up Alba Orbital who has recently begun creating and selling the building blocks for tiny satellites named ‘PocketQubes’.Founder Tom Walkinshaw told MailOnline that he was inspired to launch the company after being rejected for a job at local company, Clyde Space.‘My skillset at the time didn't meet what they needed so I had to essentially create a company if I wanted to be involved in the industry,’ he said.

            </td>
        </tr>
    </table>
    <table cellpadding="0" cellspacing="0" class="standard">
        <tr>
            <th width="15%">Reading Skills</th>
            <th width="15%">Level</th>
            <th width="70%">Your Performance</th>
        </tr>
        <tr>
            <td class="tc">Reading</td>
            <td class="tc">
                Intermediate
                <br>
                (15-22)
            </td>
            <td class="verdict">
                Rise of the DIY satellite: Company launches initiative allowing ANYONE to send a probe into space  -  but it'll cost you ￡12,000
                　　Space exploration is no longer the preserve of huge agencies who can spend up to ￡280 million on a single satellite launch.Now amateur engineers - working in bedrooms, basements and garages - have the chance to launch their probes into space for just ￡12,000.For the price of a car, anyone who can send a tiny 5cm cube satellite into orbit to take pictures of Earth and perform cosmic experiments.
                　　This has all been made possible by Glasgow-based start-up Alba Orbital who has recently begun creating and selling the building blocks for tiny satellites named ‘PocketQubes’.Founder Tom Walkinshaw told MailOnline that he was inspired to launch the company after being rejected for a job at local company, Clyde Space.‘My skillset at the time didn't meet what they needed so I had to essentially create a company if I wanted to be involved in the industry,’ he said.

            </td>
        </tr>
    </table>
    <table cellpadding="0" cellspacing="0" class="standard">
        <tr>
            <th width="15%">Reading Skills</th>
            <th width="15%">Level</th>
            <th width="70%">Your Performance</th>
        </tr>
        <tr>
            <td class="tl p5">Reading Reading Reading</td>
            <td class="tc deepen">
                good
                <br>
                (2.2-3.5)
            </td>
            <td class="verdict">
                Rise of the DIY satellite: Company launches initiative allowing ANYONE to send a probe into space  -  but it'll cost you ￡12,000
                　　Space exploration is no longer the preserve of huge agencies who can spend up to ￡280 million on a single satellite launch.Now amateur engineers - working in bedrooms, basements and garages - have the chance to launch their probes into space for just ￡12,000.For the price of a car, anyone who can send a tiny 5cm cube satellite into orbit to take pictures of Earth and perform cosmic experiments.
                　　This has all been made possible by Glasgow-based start-up Alba Orbital who has recently begun creating and selling the building blocks for tiny satellites named ‘PocketQubes’.Founder Tom Walkinshaw told MailOnline that he was inspired to launch the company after being rejected for a job at local company, Clyde Space.‘My skillset at the time didn't meet what they needed so I had to essentially create a company if I wanted to be involved in the industry,’ he said.

            </td>
        </tr>
        <tr>
            <td class="tl p5">Reading Reading Reading</td>
            <td class="tc deeper">
                fair
                <br>
                (2.2-3.5)
            </td>
            <td class="verdict">
                Rise of the DIY satellite: Company launches initiative allowing ANYONE to send a probe into space  -  but it'll cost you ￡12,000
                　　Space exploration is no longer the preserve of huge agencies who can spend up to ￡280 million on a single satellite launch.Now amateur engineers - working in bedrooms, basements and garages - have the chance to launch their probes into space for just ￡12,000.For the price of a car, anyone who can send a tiny 5cm cube satellite into orbit to take pictures of Earth and perform cosmic experiments.
                　　This has all been made possible by Glasgow-based start-up Alba Orbital who has recently begun creating and selling the building blocks for tiny satellites named ‘PocketQubes’.Founder Tom Walkinshaw told MailOnline that he was inspired to launch the company after being rejected for a job at local company, Clyde Space.‘My skillset at the time didn't meet what they needed so I had to essentially create a company if I wanted to be involved in the industry,’ he said.

            </td>
        </tr>
    </table>
</div>
</body>
</html>
