<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Chat by Web Sockets Record</title>
    <style type="text/css">
        canvas {
            border: 0 none;
            background: transparent;
        }

        #canvas, #drawing {
            background: transparent;
        }

        #drawing, #graphics{
            position: absolute;
        }

        #canvas{
            display: none;
        }

    </style>
</head>
<body>

<div id="show"></div>

<%if(role == 1){%>

<div id="wait" style="width: 100%;height:100%;position:fixed;left: 0;top: 0;">
    <div style="width: 100%;height: 100%;background: #000000;opacity: 0.5; position:absolute; left:0; top:0;"></div>
    <div style="width: 100%;height: 100%;text-align: center;position: fixed;color: #ffffff;top: 50%">请等待</div>
</div>

<%}else{%>

<button id="beginAnswer" type="button">分配试题</button>

<button id="beginExplain" type="button">开始讲解</button>

<button id="whiteBoard" type="button">白板</button>
<button id="endExplain" type="button">结束讲解</button>

<div>在线学员：</div>
<div id="online"></div>

<%}%>

<div id="canvas">
    <canvas id="graphics"></canvas>
    <canvas id="drawing"></canvas>
</div>

</body>

<script type="text/javascript" src="/public/components/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/web/js/interactive_classroom_detail/utils.js"></script>

<script type='text/javascript'>
    var role = <%=role%>;
    var userID = '<%=userID%>';
    var classCode = '<%=classCode%>';
    var mode = ALLMODE.none;
    var ws;
</script>

<script type="text/javascript" src="/web/js/interactive_classroom_detail/student.js"></script>
<script type="text/javascript" src="/web/js/interactive_classroom_detail/teacher.js"></script>
<script type="text/javascript" src="/web/js/interactive_classroom_detail/main.js"></script>

</html>