<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Chat by Web Sockets Record</title>
    <style type="text/css">
        canvas {
            border: 0 none;
            background: transparent;
        }

        #canvas, #drawing {
            background: transparent;
        }

        #drawing, #graphics{
            position: absolute;
        }

        #canvas{
            display: none;
        }

    </style>



    <link type='text/css' rel='stylesheet' href="/web/static/styles/common.css"/>
    <link type='text/css' rel='stylesheet' href="/web/static/styles/designer.css"/>
    <link type='text/css' rel='stylesheet' href="/web/static/styles/testing.css"/>

    <script type="text/javascript">
        var paperDef = {"errno":0,"result":{}};
    </script>

    <script type="text/javascript" src="/web/static/scripts/common.js"></script>
    <script type="text/javascript" src="/web/static/scripts/designer.core.js"></script>
    <script type="text/javascript" src="/web/static/scripts/designer.testing.js"></script>


</head>
<body>

<div class="designer_box" style="margin-right: 141px">
    <div id="subject_designer" tabindex="99">
        <div class="testing_header">
            <audio id="bgaudio_player" autoplay="autoplay"></audio>
            <div id="paper_title">
                <span id="paper_name"></span>
                <span id="part_name"></span>
            </div>
            <div id="header_right_normal" class="designer_header_right" style="top: 5px;right: 10px;">
                <input id="btn_extral" type="button" value="查看文章" class="testbtn rect"/>
                <input id="btn_back" type="button" value="back" class="testbtn"/>
                <input id="btn_ok" type="button" value="Ok" class="testbtn"/>
                <input id="btn_next" type="button" value="next" class="testbtn"/>
                <input id="btn_continue" type="button" value="Continue" class="testbtn rect"/>
            </div>
            <div id="header_right_extral_return" class="designer_header_right" style="top: 5px;right: 10px;">
                <input id="btn_extral_return" type="button" value="Return" class="testbtn rect">
            </div>
            <div id="header_question">Question <span></span></div>
            <div id="header_timer_box">
                <input id="btn_timer" type="button" value="hideTime" class="timerbtn"/>
                <span class="header_timer_wrap"><span id="header_timer"></span></span>
            </div>
        </div>
        <div class="subject_page">
            <div id="subject_canvas" class="designer_canvas"></div>
        </div>
    </div>
</div>

<%if(role == 1){%>

<div id="show"></div>

<div id="wait" style="width: 100%;height:100%;position:fixed;left: 0;top: 0;">
    <div style="width: 100%;height: 100%;background: #000000;opacity: 0.5; position:absolute; left:0; top:0;"></div>
    <div style="width: 100%;height: 100%;text-align: center;position: fixed;color: #ffffff;top: 50%">请等待</div>
</div>

<%}else{%>

<div id="teacher_control" style="width: 141px;height:100%;position:fixed;right: 0;top: 0;background: #ffffff">

    <div id="show"></div>

    <button id="beginAnswer" type="button">分配试题</button>

    <button id="beginExplain" type="button">开始讲解</button>

    <button id="whiteBoard" type="button">显示白板</button>
    <button id="endExplain" type="button">结束讲解</button>

    <div>在线学员：</div>
    <div id="online"></div>
</div>

<%}%>

<div id="canvas">
    <canvas id="graphics"></canvas>
    <canvas id="drawing"></canvas>
</div>

</body>

<script type="text/javascript" src="/public/components/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/web/js/interactive_classroom_detail/utils.js"></script>

<script type='text/javascript'>
    var role = <%=role%>;
    var userID = '<%=userID%>';
    var classCode = '<%=classCode%>';
    var mode = ALLMODE.none;
    var ws;
</script>

<script type="text/javascript" src="/web/js/interactive_classroom_detail/student.js"></script>
<script type="text/javascript" src="/web/js/interactive_classroom_detail/teacher.js"></script>
<script type="text/javascript" src="/web/js/interactive_classroom_detail/main.js"></script>

</html>