<% layout('layout') %>
<!--banner start-->
<div class="learn_path_focus lp_classmain_focus">
    <div class="focus_bg">
        <div class="lp_thisrec_c">
            <dl class="lp_reccourse">
                <dt class="f_l">
                <p><a href="#">托福基础班</a></p>
                <strong class="fs_14">TF123</strong>
                2041.12.12-2041.12.12
                </dt>
                <dd class="f_r">
                    <div class="rec_level fs_14">预备</div>
                    <div class="rec_status fc_3dc">
                        <font class="lp_sicons" id="icons_ing"></font>
                        上课中
                    </div>
                </dd>
            </dl>
        </div>
        <div class="lp_view_allcs">
            <font class="lp_sicons icon_up"></font>
        </div>
    </div>
</div>
<!--banner end-->

<!--课表导航start-->
<div class="lp_coursenav">
    <div class="lpath_page">
        <div class="sec_nav"><a href="#">课表</a><a href="#">听课</a><a href="#" class="selected_name">互动课堂</a><a href="#">测试</a><a href="#">在线练习</a><a href="#">模考</a><a href="#">资料</a><a href="#">知识巩固</a></div>
    </div>
</div>
<!--课表导航end-->

<!--互动课堂start-->
<div class="lpath_page">
    <ul class="lp_select_operations fix">
        <li><a href="#" class="btn_test_list lp_pbg"></a></li>
        <li><a href="#" class="btn_answer_record lp_pbg"></a></li>
    </ul>
    <div class="mt_tab">
        <div class="tab_menu">
            <ul class="fix">
                <li class="selected"><span>Reading</span>阅读</li>
                <li><span>listening</span>听力</li>
                <li><span>speaking</span>口语</li>
                <li><span>writing</span>写作</li>
            </ul>
        </div>
        <div class="tab_box">
            <ul style="display:block;">
                <li class="fix"><a href="#" class="getinto">进入课堂</a><a href="#">精讲精练写作练习(独立第一条，价值判断第1题) </a></li>
                <li class="fix"><a href="#" class="getinto">进入课堂</a><a href="#">精讲精练写作练习(独立第一条，价值判断第1题) </a></li>
                <li class="fix"><a href="#" class="getinto">进入课堂</a><a href="#">精讲精练写作练习(独立第一条，价值判断第1题) </a></li>
                <li class="fix"><a href="#" class="getinto">进入课堂</a><a href="#">精讲精练写作练习(独立第一条，价值判断第1题) </a></li>
                <li class="fix"><a href="#" class="getinto">进入课堂</a><a href="#">精讲精练写作练习(独立第一条，价值判断第1题) </a></li>
            </ul>
            <ul>
                <li class="fix"><a href="#" class="getinto">进入课堂</a><a href="#">托福精讲精练写作练习</a></li>
                <li class="fix"><a href="#" class="getinto">进入课堂</a><a href="#">托福精讲精练写作练习</a></li>
                <li class="fix"><a href="#" class="getinto">进入课堂</a><a href="#">托福精讲精练写作练习</a></li>
                <li class="fix"><a href="#" class="getinto">进入课堂</a><a href="#">托福精讲精练写作练习</a></li>
                <li class="fix"><a href="#" class="getinto">进入课堂</a><a href="#">托福精讲精练写作练习</a></li>
            </ul>
            <ul>
                <li class="fix"><a href="#" class="getinto">进入课堂</a><a href="#">精讲精练写作练习(独立第一条，价值判断第1题) </a></li>
                <li class="fix"><a href="#" class="getinto">进入课堂</a><a href="#">精讲精练写作练习</a></li>
                <li class="fix"><a href="#" class="getinto">进入课堂</a><a href="#">精讲精练写作练习(独立第一条，价值判断第1题) </a></li>
                <li class="fix"><a href="#" class="getinto">进入课堂</a><a href="#">精讲精练写作练习</a></li>
                <li class="fix"><a href="#" class="getinto">进入课堂</a><a href="#">精讲精练写作练习(独立第一条，价值判断第1题) </a></li>
            </ul>
            <ul>
                <li class="fix"><a href="#" class="getinto">进入课堂</a><a href="#">托福精讲精练写作练习</a></li>
                <li class="fix"><a href="#" class="getinto">进入课堂</a><a href="#">托福精讲精练写作练习(独立第一条，价值判断第1题) </a></li>
                <li class="fix"><a href="#" class="getinto">进入课堂</a><a href="#">托福精讲精练写作练习</a></li>
                <li class="fix"><a href="#" class="getinto">进入课堂</a><a href="#">托福精讲精练写作练习(独立第一条，价值判断第1题) </a></li>
                <li class="fix"><a href="#" class="getinto">进入课堂</a><a href="#">托福精讲精练写作练习</a></li>
            </ul>
        </div>
    </div>
</div>
<!--互动课堂end-->

</div>
</div>
<!--课表end-->


