<%- layout('layout') %>
<div class="contain" style="text-align: center; ">
    <iframe scrolling="no" width="340px" height="490px" src="<%=authorizeUrl%>" frameBorder="0" style="border:0px;"></iframe>
</div>

