<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>学路</title>
    <meta name="keywords" content="" />
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/po/custom.css"/>
    <script src="/public/po/jquery.1.7.2.min.js"></script>
    <script src="/public/po/underscore.js"></script>
    <script src="/public/po/backbone.js"></script>
    <script src="/public/po/custom.js"></script>
    <!--[if IE 6]>
    <script src="/public/po/DD_belatedPNG_0.0.8a-min.js"></script>
    <script type="text/javascript">
        DD_belatedPNG.fix('div');
    </script>
    <![endif]-->



    <!--集团统计开始-->
    <!--neworiental全站异步 google分析开始-->
    <!--    <script>
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-20005525-1']);
            _gaq.push(['_setDomainName', '.xdf.cn']);
            _gaq.push(['_setAllowLinker', true]);
            _gaq.push(['_setAllowHash', false]);
            _gaq.push(['_addOrganic', 'baidu', 'word']);
            _gaq.push(['_addOrganic', '360', 'q']);
            _gaq.push(['_addOrganic', 'so.com', 'q']);
            _gaq.push(['_addOrganic', 'soso', 'w']);
            _gaq.push(['_addOrganic', 'yodao', 'q']);
            _gaq.push(['_addOrganic', 'sogou', 'query']);
            _gaq.push(['_addOrganic', 'gougou', 'search']);
            _gaq.push(['_addOrganic', 'so.360.cn', 'q']);
            _gaq.push(['_trackPageview']);
        </script>-->
    <!-- google分析结束-->
</head>


<body>




<div class="bar">
    <div class="barCon"><img src="/public/build/img/po/images/logo.jpg"></div>
</div>

<div class="pic">
<img src="/public/build/img/po/images/bg.jpg" class="bigPigBg_JS">

<!-- 方格区域 -->
<div class="picCon picCon_JS">

    <div class="line line1">
        <div class="box">
            <div class="blank"></div>
            <img class="wz_JS" src="/public/build/img/po/images/boxz3.png" width="200%">
        </div>
        <div class="box">
            <div class="turn_JS" href-data="/main-login">
                <img class="tu_JS" src="/public/build/img/po/images/boxz.png" width="200%">
                <img class="wz wz_JS" src="/public/build/img/po/images/x_TOEFL.png" width="200%">
                <div class="con con_JS myHide myb">
                    <span class="con1">托福</span>
                    <span class="con2">8952</span>
                    <span class="con3">进入</span>
                </div>
            </div>
            <div class="lala "></div>
        </div>
        <div class="box">
            <div class="turn_JS" href-data="/main-login">
                <img class="tu_JS" src="/public/build/img/po/images/boxz.png" width="200%">
                <img class="wz wz_JS" src="/public/build/img/po/images/x_IELTS.png" width="200%">
                <div class="con con_JS myHide myb">
                    <span class="con1">雅思</span>
                    <span class="con2">8952</span>
                    <span class="con3">进入</span>
                </div>
            </div>
            <div class="lala "></div>
        </div>
        <div class="box">
            <div class="blank"></div>
            <img class="wz_JS" src="/public/build/img/po/images/boxz4.png" width="200%">
        </div>
        <div class="box">
            <div class="blank"></div>
        </div>
        <div class="box">
            <div class="blank"></div>
        </div>
    </div>

    <div class="line line2 ">
        <div class="box">
            <div class="turn_JS" href-data="http://my.xdf.cn">
                <img class="tu_JS" src="/public/build/img/po/images/boxz.png" width="200%">
                <img class="wz wz_JS" src="/public/build/img/po/images/x_ZX.png" width="200%">
                <div class="con con_JS myHide myb">
                    <span class="con1">中学</span>
                    <span class="con2">8952</span>
                    <span class="con3">进入</span>
                </div>
            </div>
            <div class="lala "></div>
        </div>
        <div class="box">
            <div class="turn_JS"href-data="/main-login">
                <img class="tu_JS" src="/public/build/img/po/images/boxz.png" width="200%">
                <img class="wz wz_JS" src="/public/build/img/po/images/x_GMAT.png" width="200%">
                <div class="con con_JS myHide myb">
                    <span class="con1">GMAT</span>
                    <span class="con2">8952</span>
                    <span class="con3">进入</span>
                </div>
            </div>
            <div class="lala "></div>
        </div>
        <div class="box" style="z-index:0">
            <div class="blank"></div>
            <img class="wz_JS" src="/public/build/img/po/images/boxz2.png" width="200%">
        </div>
        <div class="box">
            <div class="turn_JS"href-data="/main-login">
                <img class="tu_JS" src="/public/build/img/po/images/boxz.png" width="200%">
                <img class="wz wz_JS" src="/public/build/img/po/images/x_GRE.png" width="200%">
                <div class="con con_JS myHide myb">
                    <span class="con1">GRE</span>
                    <span class="con2">8952</span>
                    <span class="con3">进入</span>
                </div>
            </div>
            <div class="lala "></div>
        </div>
        <div class="box">
            <div class="turn_JS"href-data="/main-login">
                <img class="tu_JS" src="/public/build/img/po/images/boxz.png" width="200%">
                <img class="wz wz_JS" src="/public/build/img/po/images/x_KY.png" width="200%">
                <div class="con con_JS myHide myb">
                    <span class="con1">考研</span>
                    <span class="con2">8952</span>
                    <span class="con3">进入</span>
                </div>
            </div>
            <div class="lala "></div>
        </div>
        <div class="box">
            <div class="blank"></div>
        </div>
    </div>

    <div class="line line3 ">
        <div class="box">
            <div class="turn_JS"href-data="/main-login">
                <img class="tu_JS" src="/public/build/img/po/images/boxz.png" width="200%">
                <img class="wz wz_JS" src="/public/build/img/po/images/x_SAT.png" width="200%">
                <div class="con con_JS myHide myb">
                    <span class="con1">SAT</span>
                    <span class="con2">8952</span>
                    <span class="con3">进入</span>
                </div>
            </div>
            <div class="lala "></div>
        </div>
        <div class="box">
            <div class="turn_JS"href-data="/main-login">
                <img class="tu_JS" src="/public/build/img/po/images/boxz.png" width="200%">
                <img class="wz wz_JS" src="/public/build/img/po/images/x_ACT.png" width="200%">
                <div class="con con_JS myHide myb">
                    <span class="con1">ACT</span>
                    <span class="con2">8952</span>
                    <span class="con3">进入</span>
                </div>
            </div>
            <div class="lala "></div>
        </div>
    </div>

    <!--按钮-->
    <div class="btnsBox">
        <div class="onebtn myb2 onebtn_JS" style="left:350px;top:50px;"><img src="/public/build/img/po/images/kong.png"></div>
        <div class="onebtn myb2 onebtn_JS" style="left:550px;top:50px;"><img src="/public/build/img/po/images/kong.png"></div>

        <div class="onebtn myb2 onebtn_JS" style="left:50px;top:150px;"><img src="/public/build/img/po/images/kong.png"></div>
        <div class="onebtn myb2 onebtn_JS" style="left:250px;top:150px;"><img src="/public/build/img/po/images/kong.png"></div>
        <div class="onebtn myb2 onebtn_JS" style="left:650px;top:150px;"><img src="/public/build/img/po/images/kong.png"></div>
        <div class="onebtn myb2 onebtn_JS" style="left:850px;top:150px;"><img src="/public/build/img/po/images/kong.png"></div>

        <div class="onebtn myb2 onebtn_JS" style="left:350px;top:250px;"><img src="/public/build/img/po/images/kong.png"></div>
        <div class="onebtn myb2 onebtn_JS" style="left:550px;top:250px;"><img src="/public/build/img/po/images/kong.png"></div>
    </div>

    <!--斜线-->
    <div class="linex"></div>
    <div class="linex mod"></div>
    <div class="linex mod2"></div>
    <div class="linex mod3"></div>
    <div class="linex mod4"></div>

    <div class="linexR mod"></div>
    <div class="linexR mod2"></div>
    <div class="linexR mod3"></div>
    <div class="linexR mod4"></div>

</div>


<!-- 选择班级 -->
<div class="classCon myHide">
    <div class="selectBox">
        <div class="selectOne">
            <img src="/public/build/img/po/images/select.png" alt="select" />
        </div>
        <div class="lesson">
            <ul>
                <li class="floatL">
                    <div>
                        <div class="liLeft floatL">
                            <div class="liLeftTop">
                                托福基础班
                            </div>
                            <div class="liLeftBottom">
                                <p>TF123</p>
                                <p>2014.12.12-2014.12.12</p>
                            </div>
                        </div>
                        <div class="liRight floatR">
                            <div class="liRightTop">
                                托福
                            </div>
                            <a href="#">
                                <div class="liRightBottom"></div>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="floatR">
                    <div>
                        <div class="liLeft floatL">
                            <div class="liLeftTop">
                                初中数学基础
                            </div>
                            <div class="liLeftBottom">
                                <p>TF123</p>
                                <p>2014.12.12-2014.12.12</p>
                            </div>
                        </div>
                        <div class="liRight floatR">
                            <div class="liRightTop">
                                中学
                            </div>
                            <a href="#">
                                <div class="liRightBottom"></div>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

</div>

<div class="tianCongBox tianCongBox_JS"></div>

<div class="myBottom myBottom_JS">
    <div class="funBox">
        <a href="#"><div class="funBoxCon1 floatL "></div></a>
        <a href="#"><div class="funBoxCon2 floatL "></div></a>
        <a href="#"><div class="funBoxCon3 floatL "></div></a>
        <a href="#"><div class="funBoxCon4 floatL "></div></a>
        <a href="#"><div class="funBoxCon5 floatL "></div></a>
        <a href="#"><div class="funBoxCon6 floatL "></div></a>
    </div>
</div>












<!--遮罩-->
<div class="mask myHide"></div>

<!--google文件调用开始-->
<!--<script> (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = 'http://file.xdf.cn/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
<!--google文件调用结束-->
<!--百度统计开始-->
<script type="text/javascript">
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fe010d1faf316a4dbfe8639481a2a3f90' type='text/javascript'%3E%3C/script%3E"));
</script>-->
<!--百度统计结束-->
<!--集团统计结束-->
</body>
</html>
