<!--<div class="contain" style="text-align: center; ">-->
    <!--<iframe scrolling="no" width="340px" height="490px" src="<%=authorizeUrl%>" frameBorder="0" style="border:0px;"></iframe>-->
<!--</div>-->


<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>登录</title>
    <meta name="keywords" content="" />
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/po/custom.css"/>
    <script src="/public/po/jquery.1.7.2.min.js"></script>
    <script src="/public/po/underscore.js"></script>
    <script src="/public/po/backbone.js"></script>
    <script src="/public/po/custom.js"></script>
    <!--[if IE 6]>
    <script src="/public/po/DD_belatedPNG_0.0.8a-min.js"></script>
    <script type="text/javascript">
        DD_belatedPNG.fix('div');
    </script>
    <![endif]-->

    <!--集团统计开始-->
    <!--neworiental全站异步 google分析开始-->
    <!--    <script>
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-20005525-1']);
            _gaq.push(['_setDomainName', '.xdf.cn']);
            _gaq.push(['_setAllowLinker', true]);
            _gaq.push(['_setAllowHash', false]);
            _gaq.push(['_addOrganic', 'baidu', 'word']);
            _gaq.push(['_addOrganic', '360', 'q']);
            _gaq.push(['_addOrganic', 'so.com', 'q']);
            _gaq.push(['_addOrganic', 'soso', 'w']);
            _gaq.push(['_addOrganic', 'yodao', 'q']);
            _gaq.push(['_addOrganic', 'sogou', 'query']);
            _gaq.push(['_addOrganic', 'gougou', 'search']);
            _gaq.push(['_addOrganic', 'so.360.cn', 'q']);
            _gaq.push(['_trackPageview']);
        </script>-->
    <!-- google分析结束-->
</head>


<body>




<div class="bar">
    <div class="barCon"><img src="/public/build/img/po/images/logo.jpg"></div>
</div>

<div class="pic">
    <img src="/public/build/img/po/images/bg.png" class="bigPigBg_JS">
    <img src="/public/build/img/po/images/lx.gif" class="xl xlBg_JS myb5">

    <!-- 注册登录区域 -->
    <div class="logCon">
        <!-- 登录区域 -->
        <div class="logBox">
            <!--<div class="contain">-->
                <iframe scrolling="no" height="490px" src="<%=authorizeUrl%>" frameBorder="0" style="border:0px;"></iframe>
            <!--</div>-->
        </div>


    </div>


</div>

<div class="tianCongBox tianCongBox_JS"></div>

<div class="myBottom myBottom_JS">
    <div class="funBox">
        <a href="#"><div class="funBoxCon1 floatL "></div></a>
        <a href="#"><div class="funBoxCon2 floatL "></div></a>
        <a href="#"><div class="funBoxCon3 floatL "></div></a>
        <a href="#"><div class="funBoxCon4 floatL "></div></a>
        <a href="#"><div class="funBoxCon5 floatL "></div></a>
        <a href="#"><div class="funBoxCon6 floatL "></div></a>
    </div>
</div>












<!--遮罩-->
<div class="mask myHide"></div>

<!--google文件调用开始-->
<!--<script> (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = 'http://file.xdf.cn/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
&lt;!&ndash;google文件调用结束&ndash;&gt;
&lt;!&ndash;百度统计开始&ndash;&gt;
<script type="text/javascript">
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fe010d1faf316a4dbfe8639481a2a3f90' type='text/javascript'%3E%3C/script%3E"));
</script>-->
<!--百度统计结束-->
<!--集团统计结束-->
</body>
</html>

