<%- layout('layout') %>
<div class="contain" style="text-align: center; ">
    <iframe scrolling="no" width="340px" height="490px" src="http://testu2.staff.xdf.cn/i/index.aspx?client_id=95401&response_type=code&redirect_uri=http://path.staff.xdf.cn/auth/callback&scope=&state=62dd03a3-f678-4100-84c1-dfa9f7410067" ></iframe>
</div>

