<%- layout('layout') %>
<div class="contain">
    <div class="row-fluid">
        <div class="span6">
            <div class="well" style="text-align: center;">
                <a href="/main-login">
                    北美
                </a>
            </div>
        </div>
        <div class="span6">
            <div class="well" style="text-align: center;">
                <a target="_blank" href="http://my.xdf.cn">
                    中学
                </a>
            </div>
        </div>
    </div>
</div>

