<!DOCTYPE html >
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>课表嵌入测试</title>
    <link rel="stylesheet" href="<%= asset.mainCss %>">
    <script src="<%= asset.mainJs %>" data-main="<%= asset.configJs %>"></script>
    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
            font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
            font-size: 14px;
        }

        #calendar {
            width: 900px;
            margin: 40px auto;
        }
    </style>
</head>
<body>

    <div style="">
        <% include _course-schedule.ejs %>
    </div>

</body>
</html>
