<%- layout('layout') %>
<div class="container" style="margin-top: 10px;">
    <form class="form-horizontal" method="post" style="margin-top: 20px;">
        <div class="control-group">
            <label class="control-label" for="inputEmail">标题</label>
            <div class="controls">
                <input type="text" value="<%=item.title%>" name="title" required id="inputEmail" placeholder="请输入标题">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputPassword">内容</label>
            <div class="controls">
                <textarea required style="width: 500px;height: 150px;" name="content"><%=item.content%></textarea>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputPassword">发给</label>
            <div class="controls">
                <select name="to">
                    <option value="1" <%if(item.to == 1) {%> selected <%}%> >学生</option>
                    <option value="2" <%if(item.to == 2) {%> selected <%}%> >老师</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <a href="/news-admin" type="submit" class="btn btn-success">返回列表</a>
            </div>
        </div>
    </form>
</div>
