<%- layout('layout') %>

<!--banner start-->
<div class="learn_path_focus lp_classmain_focus">
    <div class="focus_bg focus_bg_neno">
        <div class="bind_numberno noticels">
            <span class="ic_notice lp_icon"></span>
            <p>通知<strong>notice</strong></p>
        </div>
        <div class="lp_view_allcs">
            <font class="lp_sicons icon_up"></font>
        </div>
    </div>
</div>
<!--banner end-->

<!--通知列表start-->
<div class="lpath_page">
    <ul class="notice_list">
        <li class="delete_row fix"><span class="dele_all lp_pbg"></span></li>
        <li>
            <dl class="fix">
                <dt class="f_l">
                    <span class="ic_delhead lp_icon"></span>
                <p>恭喜您成功升级到白金会员，白金会员的专属服务有提前预约直播课程，部分课程9折优惠。教师回答问题优先处理等等特权恭喜您成功升级到白金会员，白金会员的专属服务有提前预约直播课程，部分课程9折优惠。教师回答问题优先处理等等特权恭喜您成功升级到白金会员，白金会员的专属服务有提前预约直播课程，部分课程9折优惠。教师回答问题优先处理等等特权</p>
                </dt>
                <dd class="f_r">
                    <a href="#">
                        <span class="btn_cancel lp_sicons"></span>删除
                    </a>
                </dd>
            </dl>
        </li>
        <li>
            <dl class="fix">
                <dt class="f_l">
                    <span class="ic_delhead lp_icon"></span>
                <p>恭喜您成功升级到白金会员，白金会员的专属服务有提前预约直播课程，部分课程9折优惠。教师回答问题优先处理等等特权恭喜您成功升级到白金会员，白金会员的专属服务有提前预约直播课程，部分课程9折优惠。教师回答问题优先处理等等特权恭喜您成功升级到白金会员</p>
                </dt>
                <dd class="f_r">
                    <a href="#">
                        <span class="btn_cancel lp_sicons"></span>删除
                    </a>
                </dd>
            </dl>
        </li>
        <li>
            <dl class="fix">
                <dt class="f_l">
                    <span class="ic_delhead lp_icon"></span>
                <p>恭喜您成功升级到白金会员，白金会员的专属服务有提前预约直播课程，部分课程9折优惠。教师回答问题优先处理等等特权恭喜您成功升级到白金会员，</p>
                </dt>
                <dd class="f_r">
                    <a href="#">
                        <span class="btn_cancel lp_sicons"></span>删除
                    </a>
                </dd>
            </dl>
        </li>
    </ul>
</div>