<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Chat by Web Sockets Record</title>
    <script type="text/javascript" src="/web/js/recordBaseJs/recorder.js"></script>
    <script type="text/javascript" src="/public/components/jquery/jquery.min.js"></script>
</head>
<body>
<audio controls autoplay id="audio"></audio>

<input type="button" id="record" value="Record">
<input type="button" id="stop" value="stop">
<input type="button" id="play" value="play">

<div id="message"></div>
</body>

<script type='text/javascript'>
    //录音器
    var rec;
    //播放器
    var audio = document.querySelector('#audio');
    var audioUploadUrl ;
    //存放播放数据
    var commonAndioData;
    //录音存放路径
    var recordFilePath;

    //联通socket
    var ws = new WebSocket("ws://127.0.0.1:3000");
    ws.onopen = function () {
        console.log("Openened connection to websocket");
    };
    ws.onclose = function (e) {
        console.log("Close connection to websocket");
    }
    ws.onmessage = function (e) {
        var messageTemp = e.data;
        var messageType = typeof (messageTemp);
        if (messageType == 'string') {
            switch (messageTemp) {
                case "openAudio":
                    audio.src = URL.createObjectURL(commonAndioData);
                        alert('文件路径：'+audioUploadUrl) ;
                    break;
                case "stop":
                    rec.clear();
                    rec.stop();
                    break;
                case "start":
                    rec.record();
                    $("#message").text("Click export to stop recording");
                    // export a wav every second, so we can send it using websockets
                    //定时器，每一秒发送一次
                    intervalKey = setInterval(function () {
                        rec.exportWAV(function (blob) {
                            rec.clear();
                            ws.send(blob);
                            //audio.src = URL.createObjectURL(blob);
                        });
                    }, 1000);
                    break;
                default :
                    audioUploadUrl = messageTemp ;
                    break ;
            }
            console.log(messageTemp);
        } else {
            commonAndioData = messageTemp;
            console.log(messageTemp);
        }
    }


    var onFail = function (e) {
        console.log('Rejected!', e);
    };
    //页面加载完后初始化录音机
    var onSuccess = function (s) {
        var context = new webkitAudioContext();
        var mediaStreamSource = context.createMediaStreamSource(s);
        rec = new Recorder(mediaStreamSource);
    }

    //window.URL = URL || window.URL || window.webkitURL;
    navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia;

    //开始录音
    function startRecording() {
        if (navigator.getUserMedia) {
            navigator.getUserMedia({audio: true}, onSuccess, onFail);
        } else {
            console.log('navigator.getUserMedia not present');
        }
    }

    //--------------------开始执行录音功能-------------------------------------
    $('#record').click(function () {
        //推送录音启动开始
        ws.send("start");
    });

    $('#stop').click(function () {
        // first send the stop command
        //注销定时器
        clearInterval(intervalKey);
        //停止录音
        ws.send("stop");
        //发送停止请求
        ws.send("analyze");
        $("#message").text("");
    });

    $("#play").click(function () {
        audio.src = URL.createObjectURL(commonAndioData);
    });
    startRecording();
</script>
</html>