<style type="text/css">
    .ui-widget-header {
        border: none;
        border-right: 1px solid #9d9d9d;
        border-bottom: 1px solid #9d9d9d;
        background: none;
    }

    .ui-widget-content {
        border: none;
        border-top: 1px solid #9d9d9d;
        background: none;
    }

    .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
        border: 1px solid #dfdfdf;
    }

    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
        border: 1px solid #808080;
        background: #f9f9f9;
        width: 114px;
        height: 44px;
    }

    .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
        border: 1px solid #808080;
        background: #f9f9f9;
    }

    .ui-state-default .ui-icon {
        background: url(/public/build/img/po/images/lp_pagebg.png) no-repeat;
        width: 72px;
        height: 17px;
        margin-left: 21px;
    }

    .ui-icon-circle-triangle-w {
        background-position: left -1180px !important;
    }

    .ui-icon-circle-triangle-e {
        background-position: left -1205px !important;
    }

    .ui-corner-right {
        border-bottom-right-radius: 35px;
        border-top-right-radius: 35px;
    }

    .ui-corner-left {
        border-bottom-left-radius: 35px;
        border-top-left-radius: 35px;
    }

    .fc-agenda-slots tr.fc-minor th, .fc-agenda-slots tr.fc-minor td {
        border-top: none;
    }

    .fc-event-time, .fc-event-title {
        padding: 0 5px;
        font-size: 13px;
    }

    .sche_class .lpath_page .search_area {
        margin-top: 90px;
    }

    #calendar {
        position: relative;
        margin-bottom: 30px;
    }

    #calendar .fc-header {
        position: absolute;
        top: -80px;
    }

    #calendar .fc-content {
        padding-top: 2em;
    }
</style>
<div id='calendar' style=""></div>
