<style type="text/css">
    .ui-widget-header {
        border: none;
        border-right: 1px solid #9d9d9d;
        border-bottom: 1px solid #9d9d9d;
        background: none;
    }

    .ui-widget-content {
        border: none;
        border-top: 1px solid #9d9d9d;
        background: none;
    }

    .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
        border: 1px solid #dfdfdf;
    }
</style>
<div id='calendar' style=""></div>
