<!--试题详情页-->
<link rel="stylesheet" href="../../public/components/bootstrap/css/bootstrap.min.css">
<div class="bs-docs-example">

    <h3><%=data.id%></h3>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>模考名</th>
            <!--<th>状态</th>-->
            <th>操作1</th>
            <th>操作2</th>
            <th>操作3</th>
        </tr>
        </thead>
        <tbody>
        <%
            if(data.structItem.trees !=0){
              data.structItem.trees.forEach(function(val,index){
        %>
        <%});}%>
        </tbody>
    </table>
</div>


