
<link type='text/css' rel='stylesheet' href="web/css/template/common.css"/>
<link type="text/css" rel="stylesheet" href="web/css/template/plugs/editor.css">
<link type='text/css' rel='stylesheet' href="web/css/template/designer.css"/>

<script type="text/javascript">
    var userTemplates = null;
    var systemTemplates = null;
    var subjectList = [];
    var testQuestionID;
</script>
<div class="designer_box">
    <div id="subject_designer" tabindex="99">
        <div class="subject_list">
            <div class="add_sub_box">
                <span id="add_subject" class="tpbtn">增加一页</span>
            </div>
            <div id="left_subjects"></div>
        </div>
        <div class="subject_canvas_container">
            <div class="designer_header">
                <!--<span id="btn_save_subjects" class="tpbtn" style="margin: 9px 0px 0px 20px;">保存</span>-->
                <!--<span class="tpbtn preview_btn" data-bypass="">预览</span>-->
                <span id="btn_preview_subjects" class="tpbtn preview_btn">预览</span>
                <!--<a href="tqt-preview" data-bypass="" target="_blank"><span id="btn_preview_subjects" class="tpbtn preview_btn">预览</span></a>-->
				<span id="sub_addition_area" style="display: inline-block;margin: 9px 0px 0px 10px">
					<input type="checkbox" class="chk" id="chk_sub_additional" style="margin-top: 0px;"/><label for="chk_sub_additional" style="display: inline-block;">显示附加页</label>&nbsp;&nbsp;
				</span>
                <div class="designer_header_right">
                    <div class="header_audio">
                        背景声音：<div id="bgaudio_palyer_box"><audio controls="controls" class="audio_dropable bgaudio_palyer"></audio></div>
                    </div>
                    <div class="right_inputs">
                        <input type="checkbox" class="chk" id="chk_des_page" style="margin-top: 0px;"/><label for="chk_des_page" style="display: inline-block">说明页</label>
                        <label for="chk_des_page" style="display: inline-block; margin-left: 5px; margin-right: -4px">倒计时(秒)</label>
                        <input id="input_page_time" type="text" class="txt" style="width: 80px; padding: 0px; margin-bottom: 0px" onkeydown="onlyNum(event)"/>
                        <span id="btn_turning_select" class="tpbtn drop">完成事件确认翻页</span>
                    </div>
                </div>
            </div>
            <div class="subject_page">
                <div id="subject_canvas" class="designer_canvas"></div>
            </div>
        </div>
    </div>

    <div id="template_designer" style="display: none;" tabindex="98">
        <div class="designer_header template_toolbar">
            <div class="bar bar_text" n="text" title="文本"></div>
            <div class="bar bar_richtext" n="richtext" title="富文本"></div>
            <div class="bar bar_image" n="image" title="图片"></div>
            <div class="bar bar_audio" n="audio" title="音频"></div>
            <div class="bar bar_video" n="video" title="视频"></div>
            <div class="bar bar_record" n="record" title="录音"></div>
            <div class="bar bar_select" n="select" title="选项"></div>
            <div class="bar bar_write" n="write" title="写作"></div>
            <div class="bar bar_timer" n="timer" title="倒计时"></div>
            <div class="bar bar_audiotext" n="audiotext" title="音频与文字"></div>
            <div class="bar bar_tableselect" n="tableselect" title="表格选项"></div>
            <div class="bar bar_drag" n="drag" title="拖拽题"></div>
            <div class="bar bar_record_test" n="record_test" title="麦克风检测"></div>
            <div class="bar bar_fillblank" n="fillblank" title="填空"></div>
            <div class="tem_right_box">
				<span id="template_addition_area">
					<input type="checkbox" class="chk" id="chk_tem_additional"/><label for="chk_tem_additional" style="display: inline-block;">显示附加页</label>&nbsp;&nbsp;
				</span>
                <input type="text" class="txt" id="template_edit_title" style="width: 120px; padding: 0px; margin-bottom: 0px" placeholder="模板名称"/>
                <span class="tpbtn" id="btn_save_template">保存</span>
                <span class="tpbtn" id="btn_cancel_template">关闭</span>
            </div>
        </div>
        <div class="subject_page">
            <div class="designer_canvas" pindex="0"></div>
        </div>
    </div>
</div>

<div id="dlg_template" class="dialog" style="width: 962px;">
    <div class="dialog_header">请选择题型模板</div>
    <div class="dialog_content" style="padding-left: 10px; overflow: auto">
        <div style="padding-left: 10px;">常用模板</div>
        <div class="template_items">
            <div class="system_templates"></div>
            <div style="clear: both"></div>
        </div>
        <div class="edit_template_btns">
            <span class="tpbtn">新建模板</span>
            <span class="tpbtn">修改模板</span>
            <span class="tpbtn">删除模板</span>
            <input type="radio" class="chk" name="add_tem_type" value="single" id="add_tem_single" checked="checked"/><label for="add_tem_single" style="display: inline-block;">一栏</label>
            <input type="radio" class="chk" name="add_tem_type" value="double" id="add_tem_double"/><label for="add_tem_double" style="display: inline-block;">两栏</label>
            <input type="radio" class="chk" name="add_tem_type" value="additional" id="add_tem_additional"/><label for="add_tem_additional" style="display: inline-block;">附加页</label>
        </div>
        <div class="template_items">
            <div class="user_templates"></div>
            <div style="clear: both"></div>
        </div>
    </div>
    <div class="dialog_buttons">
        <span class="tpbtn" id="btn_tem_select">确认</span>&nbsp;
        <span class="tpbtn" onclick="$('#dlg_template').dlg('close')">关闭</span>
    </div>
</div>

<div id="dlg_edit_text" class="dialog" style="width: 942px;">
    <div class="dialog_header">编辑</div>
    <div class="dialog_content">
        <textarea id="txt_edit_text" style="height: 400px;"></textarea>
    </div>
    <div class="dialog_buttons">
        <span class="tpbtn" id="btn_save_text">确认</span>&nbsp;
        <span class="tpbtn" onclick="$('#dlg_edit_text').dlg('close')">关闭</span>
    </div>
</div>

<div id="dlg_edit_video" class="dialog" style="width: 240px;">
    <div class="dialog_header">编辑</div>
    <div class="dialog_content">
        <ul style="line-height: 40px;">
            <li>宽度：<input id="edit_video_w" type="text" class="txt" style="width: 100px"/> px</li>
            <li>高度：<input id="edit_video_h" type="text" class="txt" style="width: 100px"/> px</li>
        </ul>
    </div>
    <div class="dialog_buttons">
        <span class="tpbtn" id="btn_save_video_edit">确认</span>&nbsp;
        <span class="tpbtn" onclick="$('#dlg_edit_video').dlg('close')">关闭</span>
    </div>
</div>

<div id="dlg_edit_select" class="dialog">
    <div class="dialog_header">编辑</div>
    <div class="dialog_content">
        <textarea class="txt" id="edit_select_text"></textarea>
        <div class="dlg_options">
            <input id="edit_select_multi" type="checkbox" class="chk"/><label for="edit_select_multi">是否多选</label>
        </div>
    </div>
    <div class="dialog_buttons">
        <span class="tpbtn " id="btn_save_select_edit">确认</span>&nbsp;
        <span class="tpbtn" onclick="$('#dlg_edit_select').dlg('close')">关闭</span>
    </div>
</div>

<div id="dlg_edit_write" class="dialog" style="width: 350px;">
    <div class="dialog_header">编辑</div>
    <div class="dialog_content" style="font-size:14px;">
        <ul style="line-height: 40px;">
            <li>默认文本：<input id="edit_write_placeholder" type="text" class="txt"/></li>
            <li>最小高度：<input id="edit_write_h" type="text" class="txt"/></li>
            <li><input type="checkbox" id="edit_write_count" class="chk" /><label for="edit_write_count">显示计数</label></li>
        </ul>
    </div>
    <div class="dialog_buttons">
        <span class="tpbtn" id="btn_save_write_edit">确认</span>&nbsp;
        <span class="tpbtn" onclick="$('#dlg_edit_write').dlg('close')">关闭</span>
    </div>
</div>

<div id="dlg_edit_timer" class="dialog" style="width: 350px;">
    <div class="dialog_header">编辑</div>
    <div class="dialog_content" style="font-size:14px;">
        <ul style="line-height: 40px;">
            <li>标题：<input id="edit_timer_title" type="text" class="txt"/></li>
            <li>时长：<input id="edit_timer_time" type="text" class="txt"/> 秒</li>
        </ul>
    </div>
    <div class="dialog_buttons">
        <span class="tpbtn" id="btn_save_timer_edit">确认</span>&nbsp;
        <span class="tpbtn" onclick="$('#dlg_edit_timer').dlg('close')">关闭</span>
    </div>
</div>

<div id="dlg_edit_record" class="dialog" style="width: 350px;">
    <div class="dialog_header">编辑</div>
    <div class="dialog_content" style="font-size:14px;">
        <ul style="line-height: 40px;">
            <li>时长：<input id="edit_record_time" type="text" class="txt"/> 秒</li>
        </ul>
    </div>
    <div class="dialog_buttons">
        <span class="tpbtn" id="btn_save_record_edit">确认</span>&nbsp;
        <span class="tpbtn" onclick="$('#dlg_edit_record').dlg('close')">关闭</span>
    </div>
</div>

<div id="dlg_edit_table" class="dialog">
    <div class="dialog_header">编辑</div>
    <div class="dialog_content">
        <ul id="edit_ul_list">
            <li>
                列：<textarea class="txt" id="edit_table_column_text"></textarea>
            </li>
            <li>
                行：<textarea class="txt" id="edit_table_row_text"></textarea>
            </li>
        </ul>
    </div>
    <div class="dialog_buttons">
        <span class="tpbtn" id="btn_save_table_edit">确认</span>&nbsp;
        <span class="tpbtn" onclick="$('#dlg_edit_table').dlg('close')">关闭</span>
    </div>
</div>

<div id="dlg_edit_audiotext" class="dialog">
    <div class="dialog_header">编辑</div>
    <div class="dialog_content" style="width: 450px">
        <div id="audiotext_points"></div>
        <audio id="audiotext_edit_player" controls='controls' class="audio_dropable audiotext_edit_player" style="width: 450px;"></audio>
        <div class="dlg_options audiotext_options">
            关键字：<input id="audiotext_text" type="text" class="txt"/><div id="audiotext_text_btn" class="tpbtn">添加文字</div>
            <div id="audiotext_add_endpoint" class="tpbtn">添加截止点</div>
        </div>
    </div>
    <div class="dialog_buttons">
        <span class="tpbtn" id="btn_save_audiotext_edit">确认</span>&nbsp;
        <span class="tpbtn" onclick="$('#dlg_edit_audiotext').dlg('close');$('#audiotext_edit_player').attr('src', '');">关闭</span>
    </div>
</div>

<!--图片上传 author:yangtiansheng-->
<div id="dlg_template_img" class="dialog dlg_template_imgupload">
    <div class="dialog_header">编辑图片</div>
    <div class="dialog_content" style="padding-left: 10px; overflow: auto; height: 350px;">
        <div class="template_items">
            <div style="clear: both"></div>
        </div>
        <div class="ico dlg_close"></div>
        <div class="check_img">
            <form id="res_form_add_img" action="design-img-upload" method="post" enctype="multipart/form-data">
                <span class="tpbtn btn_addimg">添加图片</span>
                <input class="file_content" type="file" name="imgFile" accept="image/jpeg,image/png">
            </form>
        </div>
        <div class="show_img">
            <img class="img_url" id="img_url" src="">
        </div>
    </div>
    <div class="dialog_buttons">
        <span class="tpbtn" id="btn_save_img">确认</span>
        <span class="tpbtn" onclick="$('#dlg_template_img').dlg('close');resetForm();">关闭</span>
    </div>
</div>
<!--图片上传 end -->
<!--音频上传  -->
<div id="dlg_template_audio" class="dialog dlg_template_imgupload">
    <div class="dialog_header">编辑音频</div>
    <div class="dialog_content" style="padding-left: 10px; overflow: auto; height: 180px;">
        <div class="template_items">
            <div style="clear: both"></div>
        </div>
        <div class="ico dlg_close"></div>
        <div class="check_img">
            <form id="res_form_add_audio" action="design-audio-upload" method="post" enctype="multipart/form-data">
                <span class="tpbtn btn_addimg">添加音频</span>
                <input class="file_content" type="file" name="audioFile" accept="audio/mpeg,audio/ogg,audio/wav">
            </form>
        </div>
        <div class="show_upload_audio">
            <audio class="audio_upload_src" src="" controls="controls">
                此浏览器不支持，建议用chrome浏览器浏览
            </audio>
        </div>
    </div>
    <div class="dialog_buttons">
        <span class="tpbtn" id="btn_save_audio">确认</span>
        <span class="tpbtn" onclick="$('#dlg_template_audio').dlg('close');resetForm();">关闭</span>
    </div>
</div>
<!-- END 音频上传  -->

<ul id="menu_turning" class="menu">
    <li ty="event">完成事件开放分页</li>
    <li ty="manual">手动确认翻页</li>
    <li ty="normal">普通翻页</li>
    <li ty="auto">自动翻页</li>
</ul>