@charset "utf-8";
/* CSS Document */

.lpath_page { width:1000px; margin:0 auto; }
body { background:#F9F9F9;}

/*头部*/
.learn_path_header { height:64px; background:#000;}
.learn_path_header .top dt { width:101px;}
.learn_path_header .top dd { width:800px; padding-right:15px;}

.learn_path_header .nav li { float:left; padding:0 5px; position:relative;}
.learn_path_header .nav .menu { width:100px; padding:0 15px;}
.learn_path_header .nav span{  display:block; color:#fff; font-size:15px; font-family:SimSun;cursor:pointer; height:64px; line-height:46px; text-align:center;}
.learn_path_header .nav span font {background:url(/public/build/img/po/images/icon_right.png) no-repeat right top; height:11px; display:block; position:relative; right:2px; top:28px;}
.learn_path_header .nav  .curren_state { background:#2ba3d4;}
.learn_path_header .sub_menu { display:none;background:#2ba3d4; width:210px; padding:15px 5px;position:absolute; left:5px; top:63px; z-index:5; border:1px solid #43b7e6; border-top:none;}
.learn_path_header .nav li.ico_infor .sub_menu { left:0;}
.learn_path_header .sub_menu a { color:#fff; text-align:center; display:block; /*height:40px; border-bottom:1px solid #218ab5;*/ font-size:14px; line-height:1.5em;  margin-bottom:15px;}
.learn_path_header .nav li.ico_infor { padding:0px;}
.learn_path_header .nav li.ico_infor .menu { width:70px; padding-top:20px;}
.learn_path_header .nav li.right_blank { margin-left:180px;} 

/*底部*/
.learn_path_footer { background:#252525; height:234px;}
.learn_path_footer p { text-align:center; color:#fff; font-size:14px;font-family:'SimSun','宋体'; line-height:2.3em; padding-top:30px;}
.learn_path_footer p img { display:inline-block; margin-top:30px;}











