@charset "UTF-8";
/* CSS Document */


/*首页banner*/
.learn_path_focus  { height:333px; background:#2ba3d4;}
.learn_path_focus .focus_bg { background:url(/public/build/img/po/images/bg_index_focus.png) no-repeat left top;display:block;  width:1058px; height:333px; margin:0 auto;}
.learn_path_focus .focus_bg  span { display:block; padding:54px 441px 25px;width:176px;}
.learn_path_focus .focus_bg  p { font-family:'FZZXHJW'; text-align:center; font-size:30px; color:#fff; }


.lp_study_plan { padding-top:12px;}
.lp_study_plan dt { width:194px; padding-left:25px; }
.lp_study_plan dd { padding-top:40px; border-left:1px dashed #9C9FA0; width:770px;margin-bottom:12px; }
.lp_study_plan dt a { display:block; width:151px; height:151px; text-align:center; color:#404648; font-size:18px; }
.lp_study_plan dt a img {border:4px solid #fff; border-radius:90px; width:150px; height:150px; margin-bottom:10px;}


.lp_icon { background:url(/public/build/img/po/images/lp_ico_arc.png) no-repeat; display:block; width:100px; height:100px; overflow:hidden;}
.lp_bgs { background:url(/public/build/img/po/images/lp_bgs.png) no-repeat; display:block; overflow:hidden;}
.lp_sicons { background:url(/public/build/img/po/images/lp_icons.png) no-repeat; display:block; overflow:hidden;}
.lp_pbg { background:url(/public/build/img/po/images/lp_pagebg.png) no-repeat; display:block; overflow:hidden;}

.lp_studybg { background:#f9f9f9;}
.lp_learn_tasks { margin-left:25px; padding-bottom:30px;}
.lp_learn_tasks li { float:left; margin:0 40px;}
.lp_learn_tasks li a { display:block; text-align:center; color:#808080; font-family:'Microsoft YaHei','微软雅黑'; font-size:24px; font-weight:normal;}
.lp_learn_tasks li a  span { margin-bottom:18px;}
.lp_learn_tasks .course { background-position:left top;}
.lp_learn_tasks .class { background-position:left -105px;}
.lp_learn_tasks .plan { background-position:left -210px;}
.lp_learn_tasks .add { background-position:left -315px;}

.lp_join_class { background:#3dc0f1;}
.lp_class_title { border-bottom:1px dotted #fff; padding:35px 0;}
.lp_join_class .join_h { background-position:left -425px; width:90px; height:90px; margin-left:364px;}
.lp_join_class .title_test { background-position:left top; width:147px; height:61px; margin-right:364px; margin-top:15px;}
/*.lp_join_class  .lp_tfpath { background-position:left -70px; width:112px; height:32px; color:#000; text-align:center; line-height:32px; float:right; font-family:'SimSun','宋体'；}*/

/*参加的班级列表*/
.lp_class_list { margin-top:30px; padding-bottom:30px;}
.lp_class_list li { background:url(/public/build/img/po/images/lp_bg_shadow.png) no-repeat; width:320px; height:154px; float:left; margin:5px 6px; cursor:pointer;}
.lp_class_list .box { width:286px; height:113px; border:1px solid #81d6f6; border-radius:0;}
.lp_class_list .ongoing{ background:#f9f9f9; opacity:1;}
.lp_class_list .hasended { background:#3dc0f1; opacity:0.5; position:relative;}
.lp_class_list dt { width:180px; padding:18px 26px; }
.lp_class_list .ongoing dt {color:#4f4e55; font-family:Arial; font-weight:normal;}
.lp_class_list .hasended dt { color:#fff;}
.lp_class_list dd { width:54px;}
.lp_class_list dt p {font-size:18px; font-family:'SimHei'; margin-bottom:10px;}
.lp_class_list .ongoing dt p{ color:#4f4e55;}
.lp_class_list .hasended dt p{ color:#fff;}
.lp_class_list .hasended dt p.lpnos { padding-top:15px;}
.lp_class_list .hasended dt p font { display:block; margin-top:12px; font-family:'SimHei'; opacity:0.4; padding-left:32px;}
.lp_class_list .hasended  dt .btn_add_course { background-position:left -117px; width:29px; height:28px; display:inline-block!important; float:left; margin-right:10px; margin-top:15px;}

.lp_class_list dd .course_level{  height:30px; width:30px; padding:13px 12px; text-align:center;  font-family:'SimSun','宋体';}
.lp_class_list dd  .have_course{background:#ffc601;color:#000;}
.lp_class_list dd  .adding_course{ background:#000; color:#fff;}

.lp_class_list dd  .course_stauts,.lp_classmain_focus .rec_status{ background:#fff; height:51px; padding-top:6px; text-align:center; opacity:1; font-size:14px;font-family:'SimSun','宋体';}
.lp_class_list dd  .course_stauts span,.lp_classmain_focus .rec_status span{ width:24px; margin:0 auto 5px;}

.lp_class_list dd  .icons_ing { background-position:left top; width:24px; height:22px;}
.lp_class_list dd  .icons_notopen { background-position:left -30px; width:24px; height:24px;}
.lp_class_list dd  .icons_ended { background-position:left -60px; width:18px; height:20px; margin-left:18px!Important;}
.lp_class_list dd   .icons_woreg { background-position:left -85px; width:24px; height:24px;}

.lp_view_allcs { width:120px; margin:0 auto;}
.lp_view_allcs a { color:#000;font-family:'SimSun','宋体'; border-bottom:1px solid #000; padding-bottom:3px;}
.lp_view_allcs .icon_up { background-position:left -150px; width:16px; height:10px; overflow:hidden; margin-left:52px; margin-top:8px;}

/*班级主页*/
.lp_classmain_focus{ height:243px!important;}
.lp_classmain_focus .focus_bg  { padding-top:60px; height:183px!important;}
.lp_classmain_focus .lp_thisrec_c { background:url(/public/build/img/po/images/lp_sec_cbg.png) no-repeat; width:391px; height:151px; margin:0 auto;}
.lp_classmain_focus .lp_reccourse { width:370px; height:113px;background:#F9F9F9;}
.lp_classmain_focus .lp_reccourse dt { width:286px; padding:15px 15px; color:#4f4e55; font-size:14px; font-weight:normal;}
.lp_classmain_focus .lp_reccourse dd { width:54px;}
.lp_classmain_focus .lp_reccourse dt p { color:#4f4e55; font-family:SimHei; font-size:18px; margin-bottom:15px; text-align:left;}
.lp_classmain_focus .lp_reccourse dt strong { display:block; padding-bottom:10px;color:#4f4e55; font-weight:normal;}
.lp_classmain_focus .rec_level{  height:30px; width:30px; padding:13px 12px; text-align:center;  font-family:'SimSun','宋体';background:#ffc601;color:#000;}
.lp_classmain_focus  .rec_status #icons_ing { background-position:left top!important; width:24px!important; height:22px!important; margin-left:15px; margin-bottom:5px;}
.lp_classmain_focus  .rec_status { padding-top:10px; height:47px;}
.lp_classmain_focus .lp_view_allcs { margin:22px auto;}

.lp_cousreplaylist { margin:20px 0 50px;}
.lp_cousreplaylist li { float:left;}
.lp_cousreplaylist li a { width:234px; height:230px; margin:20px 16px 20px 0; float:left; display:block;}
.lp_cousreplaylist  .schedule { background:#1D80D3;}
.lp_cousreplaylist .on_line { background-position:left top;}
.lp_cousreplaylist .interaction { background:#d69256;}
.lp_cousreplaylist .practice { background-position:left -235px;}
.lp_cousreplaylist .class { background:#4d4c4b;}
.lp_cousreplaylist .test { background:#ed006a;}
.lp_cousreplaylist .material { background-position:left -475px;}
.lp_cousreplaylist .intellectual { background:#f9be0b;}
.lp_cousreplaylist li span { display:block; overflow:hidden; margin:42px auto 15px; height:90px; overflow:hidden;}
.lp_cousreplaylist .schedule_title { background-position:left -927px; width:88px; }
.lp_cousreplaylist .oline_title { background-position:left -525px; width:88px; position:absolute; left:73px; top:45px; z-index:3;}
.lp_cousreplaylist .inter_title { background-position:left -625px; width:85px; }
.lp_cousreplaylist .practice_title { background-position:left -725px; width:53px;position:absolute; left:90px; top:45px; z-index:3;}
.lp_cousreplaylist .class_title { background-position:left -817px; width:90px;}
.lp_cousreplaylist .test_title { background-position:left -927px; width:80px;}
.lp_cousreplaylist .material_title { background-position:left -1027px; width:59px;position:absolute; left:90px; top:45px; z-index:3;}
.lp_cousreplaylist .intell_title { background-position:left -1120px; width:70px;}
.lp_cousreplaylist li b,.lp_cousreplaylist li font { display:block; text-align:center; color:#fff;}
.lp_cousreplaylist li b { margin:16px auto 20px;font-family:'Microsoft YaHei'; font-size:22px; font-weight:normal; }
.lp_cousreplaylist li { position:relative;}
.lp_cousreplaylist li font { font-family:Arial, Helvetica, sans-serif; font-size:14px;}
.lp_cousreplaylist li .mark { width:155px; height:155px; background:#000; filter:alpha (opacity=50); opacity:0.5; margin:32px auto 15px;-moz-border-radius:2px;-webkit-border-radius:2px; border-radius:2px;}
.lp_cousreplaylist li .martk_text { position:absolute; top:148px; left:16%; width:155px; margin:20px auto 10px; z-index:3;}
.lp_cousreplaylist li .notice { display:block; width:18px; height:18px; background:#ff0041; text-align:center; line-height:18px; color:#fff; font-size:12px; font-family:Arial;-moz-border-radius:30px; -webkit-border-radius:30px; border-radius:30px; position:absolute; top:55px; right:60px; font-weight:normal;}






















