
.testing_header{
	background: #ebebeb;
	box-shadow: 0px 3px 6px rgba(0,0,0,0.4);
}
#paper_title{
	color: #000;
}
#header_question{
	color: #000;
}
#header_timer_box{
	color: #000;
}
.testbtn{
	background-color: rgb(10,113,187);
	color: white;
	font-size: 13px;
	cursor: pointer;
	background-image: none;
	background-repeat: no-repeat;
	background-position: 0px -45px;
	width: auto;
	height: 22px;
	line-height: 22px;
	padding: 0px 10px;
	min-width: 60px;
	border: 0px;
	outline:none;
}
.testbtn:active{
	background-color: rgb(3,48,81);
}
.testbtn:disabled{
	opacity: 0.6;
	filter: opacity(alpha=60);
	cursor: default;
}
.testbtn.rect{
	height: 22px;
	line-height: 22px;
	background-image: none;
	background-position: 0px 0px;
}
.testbtn.rect.blue{
	background-image: none;
}
.testbtn.rect:active{
}
.testbtn.rect:disabled{
}
.timerbtn{
	background-color: rgb(10,113,187);
	color: white;
	font-size: 10px;
	cursor: pointer;
	background-image: none;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 20px;
	border: 0px;
	outline:none;
}
.timerbtn:active{
	background-color: rgb(3,48,81);
}